<wd-target *ngIf="targetComponentToggler"></wd-target>

<br><br>
<button mat-raised-button (click)="toggleTargetComponent()"> Toggle target comp</button>

<br><br>
<button mat-raised-button (click)="subscribeForSubjectThroughTargetComponent()">Subscribe for Subject through TargetComponent</button>

<br><br>
<button mat-raised-button (click)="subscribeForTargetComponentSubject()">Subscribe for TargetComponent subject</button>

<br><br>
<button mat-raised-button (click)="subjectStorage.tickSubject()">Tick subject</button>
